body {
    background-color: #f5f7fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f8fafc;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    color: #1e293b;
}


.table {
    background-color: #f9fafb;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f1f5f9;
}

.table th {
    color: #373232;
}

.centralizado {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 40px 15px 40px; /* Aumenta o espaçamento do topo */
    min-height: 100vh;
    box-sizing: border-box;
}

.high-cost {
    background-color: #fef08a !important;
    color: #92400e !important;
    font-weight: bold;
}

h2, h3 {
    color: #93c5fd;
    font-weight: 600;
}

.form-control, .form-select {
    background-color: #f9fafb;
    border: 1px solid #475569;
    color: #1e293b;
}

.form-control:focus {
    background-color: #ffffff;
}

form {
    background-color: #f1f5f9;
    border-radius: 12px;
}

.btn-primary {
    background-color: #3b82f6;
    border: none;
    padding: 12px;
    font-weight: 600;
    border-radius: 12px;
}

.btn-primary:hover,
.btn-success:hover {
    background-color: #2563eb;
}

.btn-success {
    background-color: #3b82f6;
    border: none;
}

.valor {
    text-align: right;
    font-weight: bold;
    color: #60a5fa !important;
}

.action-buttons {
    display: flex;
    gap: 5px;
}

.edit-btn, .delete-btn, .btn-up, .btn-down {
    background-color: transparent;
    border: none;
}

.edit-btn {
    color: #fbbf24;
}
.edit-btn:hover {
    background-color: #fef3c7;
}

.delete-btn {
    color: #ef4444;
}
.delete-btn:hover {
    background-color: #fee2e2;
}

.btn-up, .btn-down {
    color: #94a3b8;
}
.btn-up:hover, .btn-down:hover {
    background-color: #e0f2fe;
}

.modal-content {
    background-color: #1e293b;
    color: #f8fafc;
    border: none;
}

.modal-header, .modal-footer {
    border: none;
}